/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

body {
	font-size: 16px;
	font-weight: regular;
	font-family: ArialGrotesk;
}

p, span, a {
	font-family: ArialGrotesk;
}

h1, h2, h3, h4, h5, h5 {
	font-family: "Favorit";
	@apply dark:text-green-300 text-green-600;
}

a {
	@apply dark:text-green-300 text-green-600 hover:underline active:underline;
}

h1 {
	@apply text-3xl
}

.blog-content a {
	@apply underline hover:text-slate-500  dark:hover:text-slate-50
}

.blog-content h2 {
	@apply text-2xl block mb-2 first-of-type:mt-0 mt-2
}

ul {
	@apply flex flex-col gap-3 pl-4 my-4;
}

ul li {
	@apply list-disc
}
