/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@font-face {
  font-family: 'Favorit';
  src: url('/fonts/ABCFavorit-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
	font-size: 16px;
	font-weight: regular;
	font-family: ArialGrotesk;
	@apply text-slate-600 dark:text-gray-300 dark:bg-slate-800
}

* {
	font-family: Favorit;
}

h1, h2, h3, h4, h5, h5 {
	font-family: "Favorit";
	@apply dark:text-green-300 text-green-600 font-normal;
}

a {
	@apply dark:text-green-300 text-green-600 hover:underline active:underline;
}

h1 {
	@apply text-3xl
}

.blog-content h2 {
	@apply text-2xl block mb-2 first-of-type:mt-0 mt-2
}

ul {
	@apply flex flex-col gap-3 pl-4 my-4;
}

ul li {
	@apply list-disc
}
