---
import Socials from './Socials.astro'

const today = new Date();
---

<footer class="flex flex-col justify-center items-center gap-4 py-4">
	<p class="dark:text-slate-50 text-slate-900">&copy; {today.getFullYear()} Pigro.me All rights reserved.</p>
	<Socials />
</footer>
