---
import HeaderLink from './HeaderLink.astro';
import Socials from './Socials.astro';
---

<header>
	<nav class="flex justify-between gap-4 p-4">
		<div class="flex flex-row gap-3">
			<HeaderLink class="" href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<Socials />
	</nav>
</header>
